html,body{

    font-family: 'Roboto',sans-serif;
    background-color: #edeef0;

     height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("../img/wood.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;

}

.navbar{
    margin-bottom: 0px;
    padding: 10px;
    font-family: "Droid Serif";

}
.section-top{
    margin: 20px;
}

.styletext{
    font-family: "Franklin Gothic Demi";
}
.product-description-tabs{
    padding: 10px;
}
.product-image-item{
    padding: 3px;
    margin-bottom: 3px;
}
.product-item {
    height: 560px;
    background-color: white ;
    border: 1px solid lightgray;
    position: relative;
    padding: 10px 0 10px 0;
    text-align: center;
    margin-bottom: 10px;
}
.add-to-cart-btn{
    position: absolute;
    bottom: 13px;
    left: 50px;
    background-color: grey ;
    border: 1px solid lightgray;

}
.img-tovar{
    position: absolute;
    top: 3%;

}
.text-tovar{
    position: absolute;
    top: 45%;
}
.list-group-item{
    position: absolute;
    top: 30%;
    background: yellowgreen;
    width: 15%;
    color: white;
    front-weight: 700;
    padding: 3px;
}
.price-tovar{
    position: absolute;
    top: 80%;
    right: 80px;
}
.discount-container {
    position: absolute;
    top: 30%;
    background: yellowgreen;
    width: 15%;
    color: white;
    front-weight: 700;
    padding: 3px;
}

.title{
    text-align: center;
    color: white;
    front-weight: 100px;
    line-height: 50px;
}
.wrapper-content{
    overflow: auto;
    padding-bottom: 180px;
}


