
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
 <link href="style.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static '13/style.css' %}">
	<title>DZ3</title>
</head>
<body>
    {% for post in posts %}
<div class="container">
<div class="block">
     <img src="{{ post.image.url }}" alt="img" />
         <div class="carousel-caption">
            <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
</div>

</div>
    {% endfor %}
{% endblock content %}
</body>
</html>