{% load static %}

<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" href="{% static 'DZ/style.css' %}">
	<title>DZ1</title>
</head>
<body>

<div class="centered">
<!--Таблица-->
<table cellpadding="0" cellspacing="0">
	<tr >
		<td ><h4>Товар</h4></td>
		<td colspan="2"><h4>Описание</h4></td>
		<td ><h4>Кол-во</h4></td>
		<td><h4>Цена</h4></td>
	</tr>
	<tr><td><p>Блуза</p></td>
		<td colspan="2"><p>Красивая блуза из шелка</p></td>
		<td><p>1</p></td>
		<td><p>384.00</p></td>
	</tr>
	<tr>
		<td><p>Брюки</p></td>
		<td colspan="2"><p>Шерсть</p></td>
		<td><p>1</p></td>
		<td><p>900.00</p></td>
	</tr>
	<tr>
		<td><p>Носки</p></td>
		<td colspan="2"><p>Много не бывает</p></td>
		<td><h4>
			<select name="year" align="center" id="select1">
<option value="none">1</option>
	<option value="">2</option>
	<option value="">3</option>
	<option value="">4</option>
</select>
		</h4></td>
		<td><p>900.00</p></td>
	</tr>
	<tr>
		<td colspan="4"><p id="price">Итого:</p></td>
		<td><p>1304.00</p></td>
	</tr>
	</table>
<br>
<br>
<!--Регистрация-->

<h1>Регистрация</h1>
<br>
    <form>
Имя&nbsp;<input type="text" name="">
<br>
Почта&nbsp;<input type="text" name="">
<br>
Пароль&nbsp;<input type="text" name="">
<br>
Повторите Пароль&nbsp;<input type="text" name="">
<br>
Год рождения&nbsp;<select name="year" align="center">
<option value="none">1990</option>
	<option value="">1989</option>
	<option value="">1988</option>
	<option value="">1987</option>
</select>
<br>
Мужчина&nbsp;<input type="radio" name="female" value="gender"> Женщина&nbsp;<input type="radio" name="female" value="gender">
<br>
<input type="checkbox" name="mail">&nbsp;Присылать уведомления на почту
<br>
<textarea name="comment" cols="29" rows="10" placeholder="Комментарии..."></textarea>
<br>
<button>Отправить</button>
        </form>


</div>









</body>
</html>